<h1>Training Manager App</h1>
<div>
    <ul>
        <li *ngFor="let training of trainings">
            <span>{{training.name}}</span>
            <span *ngIf="training.description">:{{training.description}}</span>
        </li>
    </ul>
</div>