<h1>Training Manager App</h1>
<training-list [trainings] = "trainingsMockList$ | async" (trainingSelected)="newTrainingSelected($event)"></training-list>
<training-details [training]="selectedTraining"></training-details>