<div class="container" *ngIf="training">
    <div style="margin-right: 10px; ">
        <img class="logo" [src]="training?.imageUrl">
    </div>
    <div>
        <p >Name: <input  type="text" [(ngModel)]="training.name"/></p>
        <p>Beschreibung: {{training?.description}}</p>
    </div>
    <div [class.take-place-soon]="training.nextRun | takePlaceSoon : 5">
        {{ training.nextRun | date:'mediumDate' }}
      </div>

</div>
