<div class="container" >
    <div style="margin-right: 10px; ">
        <img class="logo" [src]="training?.imageUrl">
    </div>
    <div>
        <p >Name: <input  type="text" *ngIf="training" [(ngModel)]="training.name"/></p>
        <p>Beschreibung: {{training?.description}}</p>
    </div>

</div>
