<div class="container">
    <div style="margin-right: 10px; ">
        <img class="logo" [src]="training?.imageUrl"> <!-- <img src="assets/"-->
    </div>
    <div>
        <p>Name: {{training?.name}}</p>
        <p>Beschreibung: {{training?.description}}</p>
    </div>

</div>
